@using BlazingPizzaDemo.Data
@using BlazingPizzaDemo.Model

@inject PizzaDetailService _detailService;
@inject NavigationManager Navigation

@if (special is not null)
{
    <div class="card col-md-3 m-1" style="width: 18rem;height: 23rem;">
        <img src="@special.ImageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@special.Name</h5>
            <p class="card-text text-truncate">@special.Description</p>
            <a href="#" class="btn btn-primary">@special.GetFormattedBasePrice()</a>

            <button @onclick="() => NavigateToDetail(special)" class="btn btn-primary">
                Show Detail
            </button>

        </div>
    </div>
}

@code {
    [Parameter]
    public PizzaSpecial special { get; set; } = new();

    private void NavigateToDetail(PizzaSpecial special)
    {
        var pizzaDetail = new BlazingPizzaDemo.Model.PizzaDetail
            {
                Name = special.Name,
                Description = special.Description,
                ImageUrl = special.ImageUrl,
                Topping = "In feature"
            };

        _detailService.PizzaDetail = pizzaDetail;

        Navigation.NavigateTo($"pizza-detail");
    }
}
